{% extends 'header.html' %}
{% block body %}
      {% load static %}
<section id="slider">
<div class="container">
<div class="main-slider">
<div class="flexslider">
    <ul class="slides">
        {% if join != None %}
        {% for foo in join %}

            <li>
        <div class="badg">
    <p><a href="{% url 'polls:categories' foo.kat_url %}" title="{{ foo.title }}">{{ foo.kategory_name }}</a></p>
        </div>
            <img src="{% static foo.picture %} " alt="{{ foo.title }}" title="{{ foo.title }}" />
                <p class="flex-caption"><a href="{% url 'polls:slug'  page_slug=foo.kat_url  id=foo.id  %}" title="{{ foo.title }}">{{ foo.title }}</a> {{ foo.body|truncatewords:5 }}</p>
        </li>
        {% endfor %}

        {% endif %}

    </ul>
</div>
</div>
 {% if slider2 != None %}
            {% for foo in slider2 %}
<div class="slider2">
    <div class="badg">
        <p><a href="{% url 'polls:categories' foo.kat_id.kat_url %}" title="{{ foo.title }}">Son Xəbər</a></p>
    </div>
    <a href="{% url 'polls:slug'  page_slug=foo.kat_id.kat_url  id=foo.id  %}" title="{{ foo.title }}"><img style="width: 380px; height: 262px;" src="{% static foo.picture %} " alt="{{ foo.title }}" title="{{ foo.title }}"/></a>
    <p class="caption"><a href="{% url 'polls:slug'  page_slug=foo.kat_id.kat_url  id=foo.id  %}" title="{{ foo.title }}"></a>{{ foo.title }}</p>
</div>
            {% endfor %}
            {% endif %}


          <!--  Slider -->
{% if join != None %}
            {% for foo in join|slice:":2" %}
<div class="slider3">
    <a href="{% url 'polls:categories' foo.kat_url %}" title="{{ foo.title }}"><img src="{% static foo.picture %}" alt="{{ foo.title }}" title="{{ foo.title }}"/></a>
    <p class="caption"><a href="{% url 'polls:slug'  page_slug=foo.kat_url  id=foo.id  %}" title="{{ foo.title }}">{{ foo.title }} </a></p>
</div>
{% endfor %}
            {% endif %}
</div>
</section>
<!-- / Slider -->


<!-- Content -->
<section id="content">
    <div class="container">
    	<!-- Main Content -->
        <div class="main-content">


<!-- Popular News -->


    <div class="column-one-third">
        {% if medeniyyet != None %}

<h5 class="line"><span>ÖTƏN GÜNÜN XƏBƏRLƏRİ</span></h5>

<div class="outertight">
    <ul class="block">

         {% for foo in medeniyyet %}

        <li>
            <a title="{{ foo.title }}" href="{% url 'polls:slug'  page_slug=foo.kat_id.kat_url  id=foo.id  %} "><img src="{% static foo.picture %}" style="width: 140px; height: 86px;" alt="{{ foo.title }}" class="alignleft" title="{{ foo.title }}"/></a>
            <p>
                <span>{{ foo.created_at }}</span>
                <a title="{{ foo.title }}" href="{% url 'polls:slug'  page_slug=foo.kat_id.kat_url  id=foo.id  %}">{{ foo.title|truncatewords_html:6 }}</a>
            </p>
            <span class="rating"><span style="width:80%;"></span></span>
        </li>
{% endfor %}
    </ul>
</div>

</div>
         {% endif %}

            <!-- /Popular News -->
                   <!-- Popular News -->



    <div class="column-one-third">

<h5 class="line"><span>BU GÜN BAŞ VERƏN HADİSƏLƏR</span></h5>

<div class="outertight">
    <ul class="block">
{% if medeniyyet2 != None %}
         {% for foo in medeniyyet2 %}

        <li>
            <a title="{{ foo.title }}" href="{% url 'polls:slug'  page_slug=foo.kat_id.kat_url  id=foo.id  %}" title="{{foo.title }}"><img src="{% static foo.picture %}" style="width: 140px; height: 86px;" alt="{{foo.title }}" class="alignleft" title="{{ foo.title }}"/></a>
            <p>
                <span>{{ foo.created_at }}</span>
                <a title="{{ foo.title }}" href="{% url 'polls:slug'  page_slug=foo.kat_id.kat_url  id=foo.id  %}" title="{{foo.title|truncatewords_html:6  }}">{{ foo.title|truncatewords_html:6 }}</a>
            </p>
            <span class="rating"><span style="width:80%;"></span></span>
        </li>
        {% endfor %}{% endif %}
    </ul>
</div>

</div>


                 <!-- /Popular News -->

<!-- Life Style -->
<div class="column-two-third">
    <h5 class="line">
    {% if idman != None %}
        {% for foo in idman|slice:':1' %}

        <span>{{ foo.kategory_name }}</span>
{% endfor %}
        <div class="navbar">
            <a id="next1"  class="next" href="#"><span></span></a>
            <a id="prev1"  class="prev" href="#"><span></span></a>
        </div>

    </h5>

    <div class="outertight">
    {% for foo in idman|slice:':1' %}
        <img src="{% static foo.picture %}" alt="{{ foo.title }}" title="{{ foo.title }}"/>
        <h6 class="regular"><a title="{{ foo.title }}" href="{% url 'polls:slug'  page_slug=foo.kat_url  id=foo.id  %}">{{ foo.title|truncatewords_html:6  }}</a></h6>
        <span class="meta"> {{ foo.created_at }}\\   <a title="{{ foo.title }}" href="{% url 'polls:categories' foo.kat_url %}"> {{ foo.kategory_name}} </a></span>
        <p>{{ foo.body|truncatewords_html:'20' }}</p>

    {% endfor %}
    </div>

    <div class="outertight m-r-no">

        <ul class="block" id="carousel">
         {% for foo in idman %}
            <li>
                <a title="{{ foo.title }}" href="{% url 'polls:slug'  page_slug=foo.kat_url  id=foo.id  %}"><img src="{% static foo.picture %} " title="{{ foo.title }}" style="width: 140px; height: 86px;" alt="{{ foo.title}}" class="alignleft" /></a>
                <p>
                    <span>{{ foo.created_at }}</span>
                    <a href="{% url 'polls:slug'  page_slug=foo.kat_url  id=foo.id  %}" title="{{ foo.title }}">{{ foo.title|truncatewords_html:6  }}</a>
                </p>
                <span class="rating"><span style="width:80%;"></span></span>
            </li>
                   {% endfor %}
        </ul>
    </div>
</div>
{% endif %}

<!-- /Life Style -->


<!-- World News -->

<div class="column-two-third">
    <h5 class="line">
    {% if siyaset != None %}
        {% for foo in siyaset|slice:':1' %}
            <span>{{ foo.kategory_name }}</span>
          {% endfor %}

        <div class="navbar">
            <a id="next2" class="next" href="#"><span></span></a>
            <a id="prev2" class="prev" href="#"><span></span></a>
        </div>
    </h5>

    <div class="outerwide" >
        <ul class="wnews" id="carousel2">
          {% for foo in siyaset %}
            <li>
                <img title="{{ foo.title }}"  src="{% static foo.picture %}" width="300" height="160" alt="{{ foo.title }}" class="alignleft" />
                <h6 class="regular"><a title="{{ foo.title }}" href="{% url 'polls:slug'  page_slug=foo.kat_url  id=foo.id  %}">{{ foo.title|truncatewords_html:6  }}</a></h6>
                <span class="meta">{{ foo.created_at }}  \\   <a title="{{ foo.title }}" href="{% url 'polls:categories' foo.kat_url %} ">{{ foo.kategory_name }} </a></span>
                 <p>{{ foo.body|truncatewords_html:'20' }} </p>
            </li>
             {% endfor %}
        </ul>
    </div>

    <div class="outerwide">
        <ul class="block2">
         {% for foo in siyaset %}
           <li class="m-r-no">
                <a title="{{ foo.title }}" href="{% url 'polls:slug'  page_slug=foo.kat_url  id=foo.id  %}"><img style="width: 140px; height: 86px;" src=" {% static foo.picture %}" alt="{{ foo.title }}" class="alignleft" /></a>
                <p>
                    <span>{{ foo.created_at }}</span>
                    <a title="{{ foo.title }}" href="{% url 'polls:slug'  page_slug=foo.kat_url  id=foo.id  %}">{{ foo.title|truncatewords_html:6  }}</a>
                </p>
                <span class="rating"><span style="width:60%;"></span></span>
            </li>
             {% endfor %}
        </ul>
    </div>
</div>
{% endif %}
<!-- /World News -->

            <!-- Popular News -->
<div class="column-two-third">
    <div class="outertight">
                    {% if join != None %}
        {% for foo in join|slice:':1' %}

        <h5 class="line"><span>{{ foo.kategory_name }}</span>    </h5>
{% endfor %}
        <div class="outertight m-r-no">
            <div class="flexslider">
                <ul class="slides">
                   {% for foo in join %}
            <li>
                <img title="{{ foo.title }}"  src="{% static foo.picture  %}" alt="{{ foo.title }}"  />
                    </li>

                     {% endfor %}
                  </ul>
            </div>


            <br>
        </div>

        <ul class="block">
         {% for foo in join %}
            <li>
                <a title="{{ foo.title }}" href="{% url 'polls:slug'  page_slug=foo.kat_url  id=foo.id  %}"><img title="{{ foo.title }}" style="width: 140px; height: 86px;" src="{% static foo.picture %}" alt="{{ foo.title }}" class="alignleft" /></a>
                <p>
                    <span>{{foo.created_at}}</span>
                    <a title="{{ foo.title }}" href="{% url 'polls:slug'  page_slug=foo.kat_url  id=foo.id  %}">{{ foo.title|truncatewords_html:6  }}</a>
                </p>
                <span class="rating"><span style="width:80%;"></span></span>
            </li>
           {% endfor %}
        </ul>
    </div>

    <div class="outertight m-r-no">
        {% if join != None %}
        {% for foo in join|slice:':1' %}
            <h5 class="line"><span>{{ foo.kategory_name }}</span>    </h5>
        {% endfor %}


        <div class="outertight m-r-no">
            <div class="flexslider">
                <ul class="slides">
                   {% for foo in join %}
            <li>
                <img title="{{ foo.title }}" src="{% static foo.picture %}" alt="{{ foo.title }}"  />
                    </li>

                {% endfor %}
                  </ul>
            </div>


            <br>
        </div>

      <ul class="block">
         {% for foo in join %}
            <li>
                <a title="{{ foo.title }}" href="{% url 'polls:slug'  page_slug=foo.kat_url  id=foo.id  %}"><img title="{{ foo.title }}" style="width: 140px; height: 86px;" src="{% static foo.picture %}" alt="{{ foo.title }}" class="alignleft" /></a>
                <p>
                    <span>{{ foo.created_at }}</span>
                    <a title="{{ foo.title }}" href="{% url 'polls:slug'  page_slug=foo.kat_url  id=foo.id  %}">{{ foo.title|truncatewords_html:6  }}</a>
                </p>
                <span class="rating"><span style="width:80%;"></span></span>
            </li>
           {% endfor %}
        </ul>
    </div>

</div>
{% endif %}
{% endif %}

            <!-- /Popular News -->

        </div>
        <!-- /Main Content -->

      {% include 'left.html' %}

    </div>
</section>
<!-- / Content -->

{% endblock %}